body{
    margin: 0px;
    padding: 0px;
}
/*header section style*/

.header{
    display: flex;
    justify-content: space-between;
    background: #1090D81A;
   
    padding: 15px;
    margin-top: 50px;
    border-radius: 7px;
}
.heading-1{
    color: #111111;
}
.heading-2{
    color: #615656;
}

.header-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*card section style*/
main{
    
    margin: 50px 0px;
}

.card-details{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.card img{
padding: 50px;
}
.card-title , .card-text{
    text-align: center;
}
.card-input{
    margin:10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
.card-btn{
    width: 100%;
}
/*area calculate style*/
.card-output{
    border:1px solid #ced4da;
}


.card-details{
    width: 75%;
    margin: 0px auto;

}
.card-calculate{
    width: 25%;
    margin: 0px auto;
}